# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production/Build
dist/

# Misc
.DS_Store
*.pem

# Local env files
.env*.local

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
